# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Flask
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Project specific
plan.md
